﻿@model List<Fermeture>
@{
    ViewData["Title"] = "Detail Fermeture";
}
@using System.Globalization;

<div class="text-center">
    <h1 class="display-4">Detail Fermeture</h1>
    @foreach (var fermeture in Model)
    {
        CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
        <p>
            Le pont sera fermé le @fermeture.DateFermeture.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr).
        </p>
        if (fermeture.NomBateau == "MAINTENANCE" || fermeture.NomBateau == "VIGILANCE CRUE")
        {
            <p>
                La cause de cette fermeture est une @fermeture.NomBateau.
            </p>
        }
        else
        {
            <p>
                La cause de cette fermeture est le passage du bateau @fermeture.NomBateau.
            </p>
        }
            <p>
                Le pont rouvrira le @fermeture.DateRouverture.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr).
            </p>
        TimeSpan difference = fermeture.DateRouverture - fermeture.DateFermeture;
        string duree = "";
        if (difference.TotalMinutes > 60 && difference.TotalMinutes < 120)
        {
            if (duree != "")
            {
                duree += string.Format(" {0} heure", difference.Hours);
            }
            else
            {
                duree = string.Format("{0} heure", difference.Hours);
            }
        }
        if (difference.TotalMinutes > 120)
        {

            if (duree != "")
            {
                duree += string.Format(" {0} heures", difference.Hours);
            }
            else
            {
                duree = string.Format("{0} heures", difference.Hours);
            }
        }
        if (difference.TotalMinutes % 60 != 0)
        {
            if (difference.TotalMinutes > 1)
            {
                if (duree != "")
                {
                    duree += string.Format(" {0} minutes", difference.Minutes);
                }
                else
                {
                    duree = string.Format("{0} minutes", difference.Minutes);
                }
            }
            if (difference.TotalMinutes > 0 && difference.TotalMinutes < 2)
            {
                if (duree != "")
                {
                    duree += string.Format(" {0} minute", difference.Minutes);
                }
                else
                {
                    duree = string.Format("{0} minute", difference.Minutes);
                }
            }
        }
            <p>
                La durée de fermeture est de @duree.
            </p>
            <p id="delai"></p>
            @section Scripts {
                <script>
                var date = new Date("@fermeture.DateFermeture.ToString("yyyy-MM-ddTHH':'mm':'ss")");
                var secondes = 1000;
                var minutes = secondes * 60;
                var heures = minutes * 60;
                var jours = heures * 24;
                var delai = setInterval(function () {
                    var maintenant = new Date();
                    var distance = date - maintenant;
                    var jour = Math.floor(distance / jours);
                    var heure = Math.floor((distance % jours) / heures);
                    var minute = Math.floor((distance % heures) / minutes);
                    var seconde = Math.floor((distance % minutes) / secondes);
                    document.getElementById('delai').innerHTML = "Le délai avant la prochaine fermeture est de " + jour + " jours, " + heure + " heures " + minute + " minutes et " + seconde + " secondes.";
                    if (distance < 0) {
                        clearInterval(delai);
                        document.getElementById('delai').innerHTML = 'Fini';
                    }
                }, 1000);
            </script>
        }
        if (fermeture.DateFermeture.Hour >= 7 && fermeture.DateFermeture.Hour < 9 || fermeture.DateFermeture.Hour >= 17 && fermeture.DateFermeture.Hour < 19
            || fermeture.DateRouverture.Hour >= 7 && fermeture.DateRouverture.Hour <= 9 || fermeture.DateRouverture.Hour >= 17 && fermeture.DateRouverture.Hour <= 19)
        {
            <p>
                Le risque de bouchon est elevé.
            </p>
            }
        else
        {
            <p>
                Le risque de bouchon est faible.
            </p>
        }
    }
</div>
