﻿@model List<Fermeture>
@using System.Globalization;

<div class="text-center">
    <h1 class="display-4">Toutes les Fermetures</h1>
    <h2>Fermetures à venir</h2>
    <table>
        <thead>
            <tr>
                <th class="bordure">Nom</th>
                <th class="bordure">Date et Heure</th>
                <th class="bordure">Durée de la Fermeture</th>
                <th class="bordure">Détails</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var fermeture in Model)
            {
                CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
                if (fermeture.DateFermeture >= DateTime.Now || (fermeture.DateFermeture < DateTime.Now && fermeture.DateRouverture >= DateTime.Now))
                {
                    TimeSpan difference = fermeture.DateRouverture - fermeture.DateFermeture;
                    string duree = "";
                    if (difference.TotalMinutes > 60 && difference.TotalMinutes < 120)
                    {
                        if (duree != "")
                        {
                            duree += string.Format(" {0} heure", difference.Hours);
                        }
                        else
                        {
                            duree = string.Format("{0} heure", difference.Hours);
                        }
                    }
                    if (difference.TotalMinutes > 120)
                    {
                        if (duree != "")
                        {
                            duree += string.Format(" {0} heures", difference.Hours);
                        }
                        else
                        {
                            duree = string.Format("{0} heures", difference.Hours);
                        }
                    }
                    if (difference.TotalMinutes % 60 != 0)
                    {
                        if (difference.TotalMinutes > 1)
                        {
                            if (duree != "")
                            {
                                duree += string.Format(" {0} minutes", difference.Minutes);
                            }
                            else
                            {
                                duree = string.Format("{0} minutes", difference.Minutes);
                            }
                        }
                        if (difference.TotalMinutes > 0 && difference.TotalMinutes < 2)
                        {
                            if (duree != "")
                            {
                                duree += string.Format(" {0} minute", difference.Minutes);
                            }
                            else
                            {
                                duree = string.Format("{0} minute", difference.Minutes);
                            }
                        }
                    }
                    <tr>
                        <td class="bordure">@fermeture.NomBateau</td>
                        <td class="bordure">@fermeture.DateFermeture.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr)</td>
                        <td class="bordure">@duree</td>
                        <td class="bordure"><a class="btn btn-info" asp-controller="Home" asp-action="Detail" asp-route-date="@fermeture.DateFermeture.ToString("yyyyMMddHHmmss")">Détail</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <h2>Fermetures déjà passées</h2>
    <table>
        <thead>
            <tr>
                <th class="bordure">Nom</th>
                <th class="bordure">Date et Heure</th>
                <th class="bordure">Durée de la Fermeture</th>
                <th class="bordure">Détails</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var fermeture in Model)
            {
                CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
                if (fermeture.DateFermeture <= DateTime.Now && fermeture.DateRouverture <= DateTime.Now)
                {
                    TimeSpan difference = fermeture.DateRouverture - fermeture.DateFermeture;
                    string duree = "";
                    if (difference.TotalMinutes > 60 && difference.TotalMinutes < 120)
                    {
                        if (duree != "")
                        {
                            duree += string.Format(" {0} heure", difference.Hours);
                        }
                        else
                        {
                            duree = string.Format("{0} heure", difference.Hours);
                        }
                    }
                    if (difference.TotalMinutes > 120)
                    {
                        if (duree != "")
                        {
                            duree += string.Format(" {0} heures", difference.Hours);
                        }
                        else
                        {
                            duree = string.Format("{0} heures", difference.Hours);
                        }
                    }
                    if (difference.TotalMinutes % 60 != 0)
                    {
                        if (difference.TotalMinutes > 1)
                        {
                            if (duree != "")
                            {
                                duree += string.Format(" {0} minutes", difference.Minutes);
                            }
                            else
                            {
                                duree = string.Format("{0} minutes", difference.Minutes);
                            }
                        }
                        if (difference.TotalMinutes > 0 && difference.TotalMinutes < 2)
                        {
                            if (duree != "")
                            {
                                duree += string.Format(" {0} minute", difference.Minutes);
                            }
                            else
                            {
                                duree = string.Format("{0} minute", difference.Minutes);
                            }
                        }
                    }
                    <tr>
                        <td class="bordure">@fermeture.NomBateau</td>
                        <td class="bordure">@fermeture.DateFermeture.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr)</td>
                        <td class="bordure">@duree</td>
                        <td class="bordure"><a class="btn btn-info" asp-controller="Home" asp-action="Detail" asp-route-date="@fermeture.DateFermeture.ToString("yyyyMMddHHmmss")">Détail</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>